[Unit]
Description=SSH agent

[Service]
Type=simple
# DISPLAY required for ssh-askpass to work
# Environment=DISPLAY=:0
# %t resolves to XDG_RUNTIME_DIR; see SPECIFIERS section in systemd.unit(5)
ExecStart=/usr/bin/ssh-agent -D -a "%t/ssh-agent.socket"

[Install]
WantedBy=default.target
