.yadm/repo.git
.config/fish/fishd.*
.config/fish/fish_history
.config/gtk-3.0/bookmarks
.config/gtk-3.0/servers
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/opera/
.config/google-chrome/
.config/chromium/
.config/spotify/
.config/libreoffice/
.config/pulse/
.config/Signal/
.config/evolution/
.config/deluge/
.mutt/.hcache
.mutt/.msg_cache
.mutt/.cal
.vim/.netrwhist
.vim/undo/
.mozilla/
.thunderbird/
Desktop/
Documents/
Downloads/
Pictures/
usr/
.local/
.cache/
.password-store/
.helm/
.thumbnails/
.pulse_secure/
.CloudStationBackup/
.gnupg/
.gimp-*
