.yadm/repo.git
.config/fish/fishd.*
.config/fish/fish_history
.config/gtk-3.0/bookmarks
.config/gtk-3.0/servers
.config/ranger/bookmarks
.config/ranger/history
.config/ranger/tagged
.config/opera/
.config/google-chrome/
.config/chromium/
.config/spotify/
.config/libreoffice/
.config/pulse/
.config/Signal/
.config/evolution/
.config/deluge/
.config/i3/config
.config/i3/config.local
.config/i3/config.*.bak
.config/i3status/config
.vim/.netrwhist
.vim/undo/
.vim/plugged/
vimwiki*/
vimwiki_html/
.mozilla/
.thunderbird/
Desktop/
Documents/
Downloads/
Pictures/
usr/
.local/
.cache/
.password-store/
.helm/
.thumbnails/
.pulse_secure/
.CloudStationBackup/
.gnupg/
.gimp-*
venvs/
Maildir/
tmpdocs/
svn/
git/
tasknotes/
Nextcloud/
fabric/
snap/
axismisc/
.terraform/
.terraform.d/
.venv/
.weechat/
.purple/
.offlineimap/
.npm/
.macromedia/
.kube/
.config/ms-teams-*
.config/teams-for-linux/
.config/skypeforlinux/
.gerritcodereview/
.rustup/
.cargo/
.zoom/
.ssh/
.rpmdb/
.poetry/
.pylint.d/
.jstock/
.java/
.config/discord/
.config/Microsoft/
.ssr/
.task/
.swo
.swp
.vmware/
.config/zettlr/
.config/autostart/
.config/bat/
.config/bugwarrior/
.config/chromium/
.config/cryptr/
.config/evolution/
.config/filezilla/
.config/BraveSoftware/
.ansible/
.ICEauthority
.PortfolioPerformance/
.config/GIMP/
.config/hiri.com/
.config/libreoffice/
.config/gnome-session/
.config/VirtualBox/
.vault-token
.subversion/
.pki/
.pulsesecure/
.gnome/
.config/Rambox/
.gconf/
.config/Mattermost/
.config/Station/
.calcurse/
.cfagent/
.etm/
VirtualBox VMs/
.config/teams/
.config/Microsoft Teams - Preview/
.config/mpv/
.config/bat/
.grafcli*
.config/vifm/
.config/vlc/
.config/wireshark/
.config/Mailspring/
.config/Franz/
.config/enchant/
.config/freerdp/
.config/icedtea-web/
.config/gedit/
.config/gajim/
.qalculate/
.putty/
.electron/
.i3/workspace_map
.dbus/
.aws/
.awx-env
.profile
.Xauthority
.abook/
.config/kazam/
.config/khal/
.config/liferea/
.config/evince/
.config/monitors.xml*
.config/qalculate/
.config/QtProject.conf
.config/menus/
.config/freshwrapper-data/
.config/profanity/
.audacity-data/
.clusterssh/
.ansible*
.adquery.ini
.remmina/
.bash_history
.birdseye.db
.bogofilter/
.config/Trolltech.conf
.config/configstore/update-notifier-npm.json
.config/dconf/
.config/dleyna*
.config/eog/
.config/goa-1.0/
.config/gtk-2.0/
.config/htop/
.config/krdcrc
.config/mimeapps.list
.config/nautilus/
.config/pavucontrol.ini
.config/remmina/
.config/teams*
.config/user-dirs.*
.config/zoomus.conf
.davmail.properties
.docker/config.json
.fireball.keys/
.gitconfig.local
.gtk-bookmarks
.gtkrc-2.0
.gtkrc.bak
.ipython/
.jupyter/
.lastpass/
.ldap-abook.ini
.lesshst
.links2/
.logs/offlineimap.log
.lunch.conf
.monitor-hotplug.log
.mutt_certificates
.notmuch-config
.offlineimap.pyc
.parallel/
.python_history
.saml2aws
.scratch.ini
.screenlayout/
.sqlite_history
.swt/
.viminfo
.*.tmp
.vimrc_background
.w3m/
.wget-hsts
.xca/
.xsel.log
.zaxisrc
.zhistory
.zshenv
.zshrc
.spacemacs*
.config/ReText project/
.emacs.d/
.GlobalProtect/
.config/ibus/
.config/monitors-v1-backup.xml
go/
.fehbg
.config/meld/
.wavemonrc
.node_repl_history
.config/Joplin/
.config/joplin-desktop/
.config/nvim/config/ycm_extra_conf.py
.ICAClient/
.GA_ClientID
.gp1234/
.netbox_token
.config/obsidian/*
.vagrant.d/*
__pycache__/*
.m2/
.config/coc/
.config/mutt/*cache
.config/mutt/**/*tokens
.config/mutt/.cal
i3x-xdg-terminals.list
.zabbix-cli/
libvirt/
.config/.gsd-keyboard.settings-ported
.config/xdg-terminals.list
.config/weechat/
