[push]
  default = simple
[alias]
  st = status
  ci = commit
  co = checkout
  br = branch
  cp = cherry-pick
  ca = commit --amend
  rlog = log --pretty=oneline --abbrev-commit --graph --decorate
  plog = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  unadd = reset --mixed HEAD
  uncommit = reset --soft HEAD^
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[pager]
  diff = diff-so-fancy | less --tabs=4 -RFXi
  show = diff-so-fancy | less --tabs=4 -RFXi
[include]
  path = ~/.gitconfig.local
[pull]
	rebase = false
